* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 130px;
    height: 300px;
}

p,a,h4 {
    text-align: center;
}
p {
    font-size: 22px;
    font-weight: bold;
}
a {
    display: inline-block;
    margin: auto;
}
h4:hover {
    color: rgb(0, 153, 255);
    
}
